<f:layout name="Default" />
<f:section name="main">
    <h1>Request Placeholder</h1>

    <f:if condition="{aBody.bError}">
        <f:then>
            Error
        </f:then>
        <f:else>

            <f:for each="{aBody.aResult.Api.Dlc.Files.Files}" as="aFile">

                <f:if condition="{aFile.sys_category__title} != ''">
                    <f:then>

                    </f:then>
                </f:if>

            </f:for>

        </f:else>
    </f:if>
</f:section>


<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">...</div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

</div>