<f:layout name="Default" />
<f:section name="main">

    <div class="tx-teufels-ext-dlc__listPages">

        <f:if condition="{bDebug}">
            <f:debug>{aBody}</f:debug>
        </f:if>

        <f:if condition="{aBody.bError} == 1">
            <f:then>
                <div class="alert alert-danger" role="alert">
                    {aBody.bError.sDescription.message}
                </div>
            </f:then>
            <f:else>
                <f:if condition="{aBody.aHtml -> f:count()} > 0">

                    <f:if condition="{aBody.aHtml -> f:count()} == 1">

                        <div class="row">
                            <div class="col-md-12">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.0}', oneTwoThreeFour: 'default'})}

                            </div>
                        </div>

                    </f:if>

                    <f:if condition="{aBody.aHtml -> f:count()} == 2">

                        <div class="row">
                            <div class="col-md-6">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.0}', oneTwoThreeFour: 'one'})}
                            </div>
                            <div class="col-md-6">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.1}', oneTwoThreeFour: 'two'})}

                            </div>
                        </div>

                    </f:if>

                    <f:if condition="{aBody.aHtml -> f:count()} == 3">

                        <div class="row">
                            <div class="col-md-4">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.0}', oneTwoThreeFour: 'one'})}

                            </div>
                            <div class="col-md-4">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.1}', oneTwoThreeFour: 'two'})}

                            </div>
                            <div class="col-md-4">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.2}', oneTwoThreeFour: 'three'})}

                            </div>
                        </div>

                    </f:if>

                    <f:if condition="{aBody.aHtml -> f:count()} == 4">

                        <div class="row">
                            <div class="col-md-3">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.0}', oneTwoThreeFour: 'one'})}

                            </div>
                            <div class="col-md-3">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.1}', oneTwoThreeFour: 'two'})}

                            </div>
                            <div class="col-md-3">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.2}', oneTwoThreeFour: 'three'})}

                            </div>
                            <div class="col-md-3">

                                {f:render(section: 'select', arguments: {aSelectPage: '{aBody.aHtml.3}', oneTwoThreeFour: 'four'})}

                            </div>
                        </div>

                    </f:if>

                </f:if>

            </f:else>
        </f:if>

    </div>

</f:section>

<f:section name="select">

    <f:if condition="{aSelectPage.optgroups -> f:count()} > 0">
        <f:then>
            <select class="tx-teufels-ext-dlc__select"
                    name="{aSelectPage.name}"
                    id="{aSelectPage.id}"
                    data-default="{f:render( section: '{oneTwoThreeFour}')}">
                <option value>
                    {f:render(section: '{oneTwoThreeFour}')}
                </option>
                <f:for each="{aSelectPage.optgroups}" as="aOptgroup">

                    <optgroup label="{aOptgroup.sLabel}">

                        <f:for each="{aOptgroup.aOptions}" as="sOption" key="k">
                            <f:if condition="{aSelectPage.selected} == {k}">
                                <f:then>
                                    <option value="{k}" selected>
                                        {sOption}
                                    </option>
                                </f:then>
                                <f:else>
                                    <option value="{k}">
                                        {sOption}
                                    </option>
                                </f:else>
                            </f:if>
                        </f:for>

                    </optgroup>

                </f:for>

            </select>
        </f:then>
        <f:else>
            <f:if condition="{aSelectPage.options -> f:count()} > 0">
                <f:then>
                    <f:if condition="{aSelectPage.selected} == ''">
                        <f:then>
                            <span class="tx-teufels-ext-dlc__carat_bg"></span>
                            <span class="tx-teufels-ext-dlc__carat"></span>
                            <f:form.select class="tx-teufels-ext-dlc__select"
                                           name="{aSelectPage.name}"
                                           id="{aSelectPage.id}"
                                           options="{aSelectPage.options}"
                                           additionalAttributes="{data-default: '{f:render( section: \'{oneTwoThreeFour}\')}'}"
                                           prependOptionLabel="{f:render(section: '{oneTwoThreeFour}')}"/>
                        </f:then>
                        <f:else>
                            <span class="tx-teufels-ext-dlc__carat_bg"></span>
                            <span class="tx-teufels-ext-dlc__carat"></span>
                            <f:form.select class="tx-teufels-ext-dlc__select"
                                           name="{aSelectPage.name}"
                                           id="{aSelectPage.id}"
                                           options="{aSelectPage.options}"
                                           value="{aSelectPage.selected}"
                                           additionalAttributes="{data-default: '{f:render( section: \'{oneTwoThreeFour}\')}'}"
                                           prependOptionLabel="{f:render(section: '{oneTwoThreeFour}')}"/>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <select class="tx-teufels-ext-dlc__select"
                            name="{aSelectPage.name}"
                            id="{aSelectPage.id}"
                            data-default="{f:render( section: '{oneTwoThreeFour}')}"
                            disabled>
                        <option value>
                            {f:render(section: '{oneTwoThreeFour}')}
                        </option>
                    </select>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

</f:section>


<f:section name="default">

    {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.default')}

</f:section>


<f:section name="one">

    {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.0')}

</f:section>


<f:section name="two">

    {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1')}

</f:section>


<f:section name="three">

    {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2')}

</f:section>

<f:section name="four">

    {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.3')}

</f:section>