<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{bDebug}">
        <f:debug>{aBody}</f:debug>
    </f:if>

    <f:if condition="{aBody.bError} == 1">
        <f:then>
            <div class="alert alert-danger" role="alert">
                {aBody.bError.sDescription.message}
            </div>
        </f:then>
        <f:else>

            <f:if condition="{aBody.aHtml.options -> f:count()} > 0">
                <f:then>
                    <f:if condition="{aBody.aHtml.selected} == ''">
                        <f:then>
                            <f:form.select class="tx-teufels-ext-dlc__select"
                                           name="{aBody.aHtml.name}"
                                           options="{aBody.aHtml.options}"
                                           prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.languages.select.default')}"/>
                        </f:then>
                        <f:else>
                            <f:form.select class="tx-teufels-ext-dlc__select"
                                           name="{aBody.aHtml.name}"
                                           options="{aBody.aHtml.options}"
                                           value="{aBody.aHtml.selected}"
                                           prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.languages.select.default')}"/>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <select class="tx-teufels-ext-dlc__select" name="{aBody.aHtml.name}" disabled>
                        <option value>
                            {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.languages.select.default')}
                        </option>
                    </select>
                </f:else>
            </f:if>

        </f:else>
    </f:if>

</f:section>