<f:layout name="Default" />
<f:section name="nav__pagination">
<nav aria-label="navigation">
    <ul class="pagination pagination-sm {sClass}">
        <f:for each="{aPagination}" as="aPageLink" iteration="i">
            <f:if condition="{aPageLink.1} == 'first'">
                <f:then>
                    <li class="{aPageLink.1}">
                        <a href="{aPageLink.2}" class="{aPageLink.1} {sClass}__a">
                            {aPageLink.0}
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <f:if condition="{aPageLink.1} == 'prev'">
                        <f:then>
                            <li class="{aPageLink.1}">
                                <a href="{aPageLink.2}" class="{aPageLink.1} {sClass}__a">
                                    <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                                </a>
                            </li>
                        </f:then>
                        <f:else>
                            <f:if condition="{aPageLink.1} == 'next'">
                                <f:then>
                                    <li class="{aPageLink.1}">
                                        <a href="{aPageLink.2}" class="{aPageLink.1} {sClass}__a">
                                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                                        </a>
                                    </li>
                                </f:then>
                                <f:else>
                                    <f:if condition="{aPageLink.1} == 'last'">
                                        <f:then>
                                            <li class="{aPageLink.1}">
                                                <a href="{aPageLink.2}" class="{aPageLink.1} {sClass}__a">
                                                    {aPageLink.0}
                                                </a>
                                            </li>
                                        </f:then>
                                        <f:else>
                                            <li class="{aPageLink.1}">
                                                <a href="{aPageLink.2}" class="{aPageLink.1} {sClass}__a">
                                                    {aPageLink.0}
                                                </a>
                                            </li>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</nav>
</f:section>